packaging_format = 2

id = "paheko"
name = "Paheko"
description.en = "Association management software"
description.fr = "Logiciel de gestion d'association"

version = "1.3.18~ynh1"

maintainers = ["rodinux"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://paheko.cloud"
demo = "https://paheko.cloud/essai/"
admindoc = "https://fossil.kd2.org/paheko/wiki?name=Documentation"
userdoc = "https://paheko.cloud/aide"
code = "https://fossil.kd2.org/paheko/dir?ci=tip"
fund = "https://paheko.cloud/don/"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "20M"
ram.build = "150M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.country]
    ask = "Pays (pour la comptabilité)"
    type = "select"
    choices.FR = "FR, France"
    choices.BE = "BE, Belgique"
    choices.CH = "CH, Suisse"

    [install.name_association]
    ask = "Nom de l'association"
    type = "string"

    [install.user_name]
    ask = "Nom et prénom (de l'administrateur)"
    type = "string"

    [install.user_email]
    ask = "Adresse E-Mail (de l'administrateur)"
    type = "email"

    [install.password]
    type = "password"
    help = "Astuce : un mot de passe de quatre mots choisis au hasard dans le dictionnaire est plus sûr et plus simple à retenir qu'un mot de passe composé de 10 lettres et chiffres."

[resources]
    [resources.sources.main]
    url = "https://fossil.kd2.org/paheko/uv/paheko-1.3.18.tar.gz"
    sha256 = "20c3dc445035dfd9fd75d661874c6a3a6216c3affe0a28bac29acdcaccf836a4"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ['data']
    # note: permissions are set in the install/upgrade/restore script

    [resources.permissions]
    main.url = "/"
    api.url = "/api/*"
    api.allowed = ["visitors", "all_users"]
    api.show_tile = false
    api.protected = true
    api.auth_header = true
    webdav.url = "/dav/*"
    webdav.allowed = ["visitors", "all_users"]
    webdav.show_tile = false
    webdav.protected = true
    webdav.auth_header = false

    [resources.apt]
    packages = "sqlite3, php8.3-sqlite3, php8.3-imagick, php8.3-intl, php8.3-cli, php8.3-gnupg, php8.3-mbstring, php8.3-zip, php8.3-xml, mupdf-tools, ffmpeg, gnumeric, php8.3-gd"
    # php-imagick, mupdf-tools, ffmpeg & gnumeric are required for file conversion and thumbnail generation: https://fossil.kd2.org/paheko/wiki?name=Configuration/Thumbnails
